<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.xyy.po.Category">
    <id column="ca_id" jdbcType="INTEGER" property="ca_id" />
    <result column="ca_name" jdbcType="VARCHAR" property="ca_name" />
    <result column="ca_info" jdbcType="VARCHAR" property="ca_info" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ca_id, ca_name, ca_info
  </sql>
  <select id="selectByExample" parameterType="com.xyy.po.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where ca_id = #{ca_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where ca_id = #{ca_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyy.po.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyy.po.Category">
    <selectKey keyProperty="ca_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (ca_name, ca_info)
    values (#{ca_name,jdbcType=VARCHAR}, #{ca_info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyy.po.Category">
    <selectKey keyProperty="ca_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ca_name != null">
        ca_name,
      </if>
      <if test="ca_info != null">
        ca_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ca_name != null">
        #{ca_name,jdbcType=VARCHAR},
      </if>
      <if test="ca_info != null">
        #{ca_info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyy.po.CategoryExample" resultType="java.lang.Long">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.ca_id != null">
        ca_id = #{record.ca_id,jdbcType=INTEGER},
      </if>
      <if test="record.ca_name != null">
        ca_name = #{record.ca_name,jdbcType=VARCHAR},
      </if>
      <if test="record.ca_info != null">
        ca_info = #{record.ca_info,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set ca_id = #{record.ca_id,jdbcType=INTEGER},
      ca_name = #{record.ca_name,jdbcType=VARCHAR},
      ca_info = #{record.ca_info,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyy.po.Category">
    update category
    <set>
      <if test="ca_name != null">
        ca_name = #{ca_name,jdbcType=VARCHAR},
      </if>
      <if test="ca_info != null">
        ca_info = #{ca_info,jdbcType=VARCHAR},
      </if>
    </set>
    where ca_id = #{ca_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyy.po.Category">
    update category
    set ca_name = #{ca_name,jdbcType=VARCHAR},
      ca_info = #{ca_info,jdbcType=VARCHAR}
    where ca_id = #{ca_id,jdbcType=INTEGER}
  </update>
</mapper>