<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.dao.MusicMapper">
  <resultMap id="BaseResultMap" type="com.xyy.po.Music">
    <id column="m_id" jdbcType="INTEGER" property="m_id" />
    <result column="m_name" jdbcType="VARCHAR" property="m_name" />
    <result column="ca_id" jdbcType="INTEGER" property="ca_id" />
    <result column="s_id" jdbcType="INTEGER" property="s_id" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="hot" jdbcType="INTEGER" property="hot" />
    <result column="mdate" jdbcType="TIMESTAMP" property="mdate" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, m_name, ca_id, s_id, priority, hot, mdate, path
  </sql>
  <select id="selectByExample" parameterType="com.xyy.po.MusicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from music
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from music
    where m_id = #{m_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from music
    where m_id = #{m_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xyy.po.MusicExample">
    delete from music
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xyy.po.Music">
    <selectKey keyProperty="m_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music (m_name, ca_id, s_id, 
      priority, hot, mdate, 
      path)
    values (#{m_name,jdbcType=VARCHAR}, #{ca_id,jdbcType=INTEGER}, #{s_id,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER}, #{hot,jdbcType=INTEGER}, #{mdate,jdbcType=TIMESTAMP}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyy.po.Music">
    <selectKey keyProperty="m_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="m_name != null">
        m_name,
      </if>
      <if test="ca_id != null">
        ca_id,
      </if>
      <if test="s_id != null">
        s_id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="hot != null">
        hot,
      </if>
      <if test="mdate != null">
        mdate,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="m_name != null">
        #{m_name,jdbcType=VARCHAR},
      </if>
      <if test="ca_id != null">
        #{ca_id,jdbcType=INTEGER},
      </if>
      <if test="s_id != null">
        #{s_id,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="mdate != null">
        #{mdate,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xyy.po.MusicExample" resultType="java.lang.Long">
    select count(*) from music
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update music
    <set>
      <if test="record.m_id != null">
        m_id = #{record.m_id,jdbcType=INTEGER},
      </if>
      <if test="record.m_name != null">
        m_name = #{record.m_name,jdbcType=VARCHAR},
      </if>
      <if test="record.ca_id != null">
        ca_id = #{record.ca_id,jdbcType=INTEGER},
      </if>
      <if test="record.s_id != null">
        s_id = #{record.s_id,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.hot != null">
        hot = #{record.hot,jdbcType=INTEGER},
      </if>
      <if test="record.mdate != null">
        mdate = #{record.mdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.path != null">
        path = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update music
    set m_id = #{record.m_id,jdbcType=INTEGER},
      m_name = #{record.m_name,jdbcType=VARCHAR},
      ca_id = #{record.ca_id,jdbcType=INTEGER},
      s_id = #{record.s_id,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      hot = #{record.hot,jdbcType=INTEGER},
      mdate = #{record.mdate,jdbcType=TIMESTAMP},
      path = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyy.po.Music">
    update music
    <set>
      <if test="m_name != null">
        m_name = #{m_name,jdbcType=VARCHAR},
      </if>
      <if test="ca_id != null">
        ca_id = #{ca_id,jdbcType=INTEGER},
      </if>
      <if test="s_id != null">
        s_id = #{s_id,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="mdate != null">
        mdate = #{mdate,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where m_id = #{m_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyy.po.Music">
    update music
    set m_name = #{m_name,jdbcType=VARCHAR},
      ca_id = #{ca_id,jdbcType=INTEGER},
      s_id = #{s_id,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      mdate = #{mdate,jdbcType=TIMESTAMP},
      path = #{path,jdbcType=VARCHAR}
    where m_id = #{m_id,jdbcType=INTEGER}
  </update>
</mapper>